<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" padding>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input
              type="text"
              ngModel
              name="title"
              #movieTitle="ngModel"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Genre/s</ion-label>
            <ion-input type="text" ngModel name="genre" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Year</ion-label>
            <ion-input
              type="number"
              ngModel
              name="year"
              placeholder="2000"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Link to image</ion-label>
            <ion-input type="text" ngModel name="image" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Plot summary</ion-label>
            <ion-textarea
              type="text"
              rows="6"
              cols="20"
              placeholder="In a galaxy far, far away..."
              ngModel
              name="plot"
              required
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-list radio-group>
            <ion-list-header> Type </ion-list-header>

            <ion-item>
              <ion-label>Movie</ion-label>
              <ion-radio value="movie"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Series</ion-label>
              <ion-radio value="series"></ion-radio>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-button type="submit" color="primary" expand="block">
            Add item to list!
          </ion-button>
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [routerLink]="['/myList/']"
          >
            Cancel
          </ion-button>
          <ion-button color="primary" (click)="onClear()">Clear</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
