<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-back-button defaultHref="/myList"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ item?.genre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="item && isOwner === true">
    <ion-card-header>
      <ion-card-title> {{ item.title }} </ion-card-title>
      <ion-card-subtitle> {{ item.year }} </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content text-center class="container">
      <ion-img
        class="images"
        [src]="item.image"
        *ngIf="item.image != 'N/A'"
      ></ion-img>
      <ion-img
        class="images"
        [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQLn-fcitjj-HXOyjRJJfAzymQX9p6657KNw&usqp=CAU'"
        *ngIf="item.image == 'N/A'"
      ></ion-img>
      {{ item.plot }}
      <ionic5-star-rating
        activeIcon="heart"
        defaultIcon="heart-outline"
        activeColor="#ff0000"
        defaultColor="#111111"
        readonly="false"
        rating="{{item.userRating}}"
        fontSize="32px"
        (ratingChanged)="setRating($event)"
      >
      </ionic5-star-rating>

      <ion-button
        expand="full"
        (click)="openWebsite()"
        *ngIf="item.website && item.website != 'N/A'"
      >
        <ion-icon name="open" slot="start"></ion-icon>
        Open Website
      </ion-button>
      <ion-button expand="full" (click)="removeThisAndGetOut()">
        <ion-icon name="remove" slot="start"></ion-icon>
        Remove movie from my list :(
      </ion-button>

      <ion-button expand="full" [routerLink]="['/edit/', item.id]">
        <ion-icon name="create" slot="start"></ion-icon>
        Edit movie data
      </ion-button>
      <ion-button
        expand="full"
        (click)="restoreDataFromOMDB()"
        *ngIf="item.imdbID !== null"
      >
        <ion-icon name="arrow-undo" slot="start"></ion-icon>
        Restore data from IMDB :)
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
