<ion-app>
  <ion-menu side="start" *ngIf = "authService.isAuthenticated()">
    <ion-header>
      <ion-toolbar>
        <ion-title>
        moviesApp
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/myList">
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>My List</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/search">
            <ion-icon name="checkbox-outline" slot="start"></ion-icon>
            <ion-label>Search</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/logout">
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
